@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  
}

body {
    background-color: #121212;
}

.Grow {
    max-height: 315px;
    overflow: hidden;
    transition: max-height 1s ease-out;
}

.Grow:hover {
    max-height: 500px;
    transition: max-height 0.25s ease-in
}